// Place all the styles related to the preimages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#img_prev {
  height: 300px;
  width: 500px;
  object-fit: cover;
}